.overview{
    width: 100%;
    margin:auto;
 padding: 20px;
 display:flex;
 height: 83vh;
 justify-content: space-evenly;
}
.sider{
    width:25%;
    height:74%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
   
}
.sellername{
    display: flex;
    background-color: #fff;
    padding: 20px;
}
.displaydata{
    width:60%;
    background-color: #fff;
    padding: 20px;
}
.sides{
    background-color: #fff;
    padding: 8px;
    text-align: left;

}
.sides h3{
    margin:7px;
}
@media only screen and (max-width: 600px) {
    .sider{
        display: none
    }
    .displaydata{
        width:100%;
    }
}