 .product{
     display: flex;
     flex-direction: row;
     
 }
 .card {
  width:70%;
  margin: auto;
  margin-top: 1%;

}
.details{
    padding: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.productpic{
    width:60%;
    align-self: center;
}
.smallpics{
    width:100%;
    display: flex;
    flex-direction: row;
    height:100px;
    justify-content: space-around;
    }
.description{
    width:80%;
    margin:6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.name{
    display: flex;
    justify-content: space-between;
}
.rate{
    display: flex;
    justify-content: space-between;
}
.textval{
    width:100%;
    text-align: left;
display: flex;
align-items: center;
}
.textval p {
    margin:0;

    width:70%;
}
.bottomBut{
    display:flex;
    justify-content:space-around;
    margin-top:5%;  
}

@media only screen and (max-width: 600px){
.productpic{
    width:100%;
}
.details{
    padding: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.bottomBut{
    flex-direction: column;
    
}
}