.signup{
    width:25%;
    border-radius: 20px;
    margin:auto;
    background-color:#e3e3e3;
    height:80vh;
    box-shadow: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    position: absolute;
    z-index: 10;
    top:10%;
    left:40%;
    animation-name: examplesignup;
    animation-duration: 1s;

}
.outersofsignup{
    width:90%;
    margin: auto;
    height: 95%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;

}
@keyframes examplesignup {
    0%   { top:-500px;}
   
    100%{top:10%}
}
