
.head1{
  width:100%;
  padding:5px;
  background-color: #263239;
  color:#fff;
  font-size: 15px;
  display: flex;
  flex-direction: row-reverse;

}
.headWrap{
  background-color: #fff;
}
.head1 div{
  align-self: center;

}
.head2{
  background-color:#fff;
  width:100%;
  color:white;
 
}
.head3{
  width: 80%;
  margin:auto;
  display: flex;
  flex-direction: row;
}
.head22{
  width:100%;
  display: flex;
  flex-direction: row;
  color: #fff;
}
.head21{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
.select{
  width:20%;
  margin:4px;
}
.search{
  width:58%;
  margin:3px;
}
@media only screen and (max-width: 600px){
  .head3{
    width:100%;
  }
  .select{
    width:60%;
    font-size: 100%;
  }
  .search{
    width:50%;
  }
}